.SingleDatePickerInput__withBorder {
   border: none;
}

.DateInput {
   width: 100%;
}

#lastso_date {
   width: 100%;
}

.SingleDatePicker {
   width: 100%;
}

.SingleDatePickerInput {
   width: 100%;
}

.DateInput {
   width: 100%;
}

#last_call_date {
   width: 100%;
}

#last_web_activity_date {
   width: 100%;
}

#formMain {
   background: #F5F5F5;
   border-radius: 10px;
   padding: 30px;
}

input:focus, .Select.is-focused .Select-control {
   border-color: #047FF3!important;
   box-shadow: none;
}

label, input, .Select-value, .Select-placeholder, .DateInput_input {
   font-size: 12px!important;
}

.DateInput_input {
   color: #000;
}

#coefficients-fig {
   margin-top: 50px;
}
